@use 'variables' as *;

@use 'vendor/bootstrap/bootstrap' as bootstrap;
@use 'visitors' as *;

@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #C4E1F2 !important;
}
.custom:hover {
    color: #C4E1F2 !important;
}
.navbar {
    background: #0554F2;
    background: linear-gradient(90deg,rgba(5, 84, 242, 1) 0%, rgba(87, 183, 242, 1) 100%);
    padding: 1rem;
    color: #1154D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}
.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.welcome-message {
    font-size: 2rem;
    font-weight: 600;
    color: #1154D9;
}

.home-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
}
.home-btn:hover {
    color: #57B7F2 !important;
}
.login-btn{
    color: #fff !important;
}
.login-btn:hover {
    color: #1154D9 !important;
}
.bi {
    font-size: 1.25rem;
}
.btn-martian {
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
}
.btn-martian:hover {
    color: #BAF241 !important;
}
.btn-alien{
    background-color: #BAF241 !important;
    color: #fff !important;
}
.btn-alien:hover{
    background-color: #BAF241 !important;
}
.btn-alien {
    transition: background-color .15s ease, color .15s ease, filter .15s ease;
}

.btn-alien:hover,
.btn-alien:focus,
.btn-alien:active {
    filter: brightness(0.92);
    color: #1154D9 !important;
}