@use 'variables' as *;

@use 'vendor/bootstrap/bootstrap' as bootstrap;

@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #C4E1F2 !important;
}
.custom:hover {
    color: #C4E1F2 !important;
}
.navbar {
    background: #0554F2;
    background: linear-gradient(90deg,rgba(5, 84, 242, 1) 0%, rgba(87, 183, 242, 1) 100%);
    padding: 1rem;
    color: #1154D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}
.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.welcome-message {
    font-size: 2rem;
    font-weight: 600;
    color: #1154D9;
}

.home-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
}
.home-btn:hover {
    color: #57B7F2 !important;
}
.login-btn{
    color: #fff !important;
}
.login-btn:hover {
    color: #1154D9 !important;
}
.bi {
    font-size: 1.25rem;
}
.login-btn,
.btn {
    -webkit-tap-highlight-color: transparent;
}
.btn:not(:focus-visible),
.login-btn:not(:focus-visible) {
    box-shadow: none !important;
    outline: none !important;
}