.navbar-brand {
  font-size: 1.5rem;
}

.btn-martian {
  color: #1154D9;
  transition: color .15s ease-in-out;
  text-decoration: none;
}
.btn-martian:hover,
.btn-martian:focus {
  color: #1154D9;
  text-decoration: none;
}
body.route-visitor .btn-martian {
  color: #fff !important;
}
body.route-visitor:hover .btn-martian:hover {
  color: #1154D9 !important;
}

.hero-section{
  background: linear-gradient(90deg, rgba(5, 84, 242, 1) 0%, rgba(87, 183, 242, 1) 100%);
  background-size: cover;
  background-position: center;
}

body.route-visitor .navbar{
  background: linear-gradient(90deg,rgba(186, 242, 65, 1) 50%, rgba(196, 225, 242, 1) 100%);
}
body.route-visitor .hero-section{
  background: linear-gradient(90deg,rgba(186, 242, 65, 1) 50%, rgba(196, 225, 242, 1) 100%);
}

.page-content{
  width: 100%;
  min-height: calc(100vh - 72px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
body.route-visitor .page-content{
  background-image: url('/imagenes/alien.jpg');
}

.navbar .dropdown-menu{
  background-color: #57B7F2 !important;
}
.navbar .dropdown-menu .dropdown-item.login-btn{
  background-color: #57B7F2 !important;
  width: 20%;
}

.card.card-visitor{
  background-color: rgba(255, 255, 255, 0.8);
}
.card.card-visitor .card-header.card-visitor-header{
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}
